{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="button" id="check-weather" class="btn btn-info mt-3">Check Weather</button>
    <button type="submit" id="submit-conference" class="btn btn-primary mt-3" style="display: none;">Submit</button>
{{ form_end(form) }}
