<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des matériels</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Liste des matériels</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Quantité disponible</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.nomMateriel }}</td>
                <td>{{ materiel.description }}</td>
                <td>{{ materiel.quantiteDispo }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun matériel trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
