{% extends 'baseBack.html.twig' %}

{% block title %}Create New User{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Create New User</h1>

    {{ include('back_user/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_back_user_index') }}">Back to list</a>
</div>
{% endblock %}
