{% extends 'Baseback.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block body %}
    <h1>Ajouter nouveau materiel </h1>

    {{ include('backmateriel/_form.html.twig') }}

    <a href="{{ path('app_backmateriel_index') }}">back to list</a>
{% endblock %}
