<li class="nav-item">
    <a href="#" class="nav-link d-flex align-items-center" id="stats-button" data-bs-toggle="modal" data-bs-target="#statisticsModal">
        <i class="bi bi-graph-up me-2"></i>
        <span>Statistics</span>
    </a>
</li>
